.Botao {
    color: var(--cinza);
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--preto);
}

.Botao[tipo="primario"] {
    background-color: var(--verde);
}

.Botao[tipo='secundario'] {
    background-color: var(--rosa);
}